<h1>Burgers!</h1>
<img src="/public/assets/img/kawaii-burger.png" alt="kawaii-burger">
<h2>Burgers that are not devoured!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
    </li>

    <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">EAT DA BURGER</button>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}}
    </li>

    {{/if}}
    {{/each}}
</ul>

<h2>Add Your Own Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="newBurger">Burger Name:</label>
        <input type="text" id="newBurger" name="burger_name">
    </div>

    <div class="form-group">
        <label for="devour">Has this burger been devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0"> Not yet Devoured!
    </div>

    <button type="submit">Add Burger</button>
</form>