body {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(165, 229, 248);
    margin: auto;
    text-align: center;
}

img {
    width: 90px;
}

.info-box {
    background-color: linen;
}

ul {
    text-align: center;
    list-style-position: inside;
}

